<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <span class="material-symbols-outlined">
        location_on
        </span>
    </button>
    <span class="font">Shop No. 4 , H block , Dharam colony palam vihar extension Gurgaon<br>122017</span>
    <span class="bar"></span>
    <button mat-icon-button disabled>
      <img class="logo" src="../../../assets/envelope.png">
    </button>
    <span class="font">docs@upayservices.com</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <img class="logo" src="../../../assets/facebook.png">
    </button>
    <button mat-icon-button>
      <img class="logo" src="../../../assets/twitter-x.png">
    </button>
    <button mat-icon-button>
      <img class="logo" src="../../../assets/instagram.png">
    </button>
    <button mat-icon-button>
      <img class="logo" src="../../../assets/pinterest.png">
    </button>
    <span class="example-spacer"></span>
    <button class="consultant-btn" mat-raised-button color="primary"><img class="logo" src="../../../assets/consultant.png">FREE CONSULTING</button>
  </mat-toolbar>
</p>
