<div class="services-container">
    <app-delete-dialog class="services-delete-dialog" *ngIf="deleteDialog" [message]="deleteMessage"
        (cancel)="cancelProcess($event)" (delete)="deleteProcess($event)"></app-delete-dialog>

    <app-table class="services-table" header="Registered Services" [dataSource]="servicesData"
        [columnsToDisplay]="columnsToDisplay" [displayedColumnKeys]="displayedColumnKeys" [length]="length"
        [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [expandable]="true" [actions]="actions"
        (refresh)="refresh($event)" (editing)="editElement($event)" (deleting)="deleteElement($event)"></app-table>
</div>